@{
    ViewData["Title"] = "Home Page";
}




	<!-- paginas -->
		<div class="main" id="pagina">
		    
		    <div class="container container-xl">

		    	<div class="row">
		    		<div class="col">
						
						<form>
							<div class="form-group row">
								<label class="col-md-6 col-form-label text-center">Dados:</label>
								<div class="col-md-6 text-center ">
									<select id="competencia" class="form-select w-50 text-right">
										<option value="">-- Selecione </option>
										<option value="2022-01">Janeiro / 2022</option>
										<option value="2022-02">Fevereiro / 2022</option>
										<option value="2022-03">Março / 2022</option>
										<option value="2022-04">Abril / 2022</option>
										<option value="2022-05">Maio / 2022</option>
										<option value="2022-06">Junho / 2022</option>
										<option value="2022-07">Julho / 2022</option>
										
										<option value="2022-08">Agosto / 2022</option>
										<option value="2022-09">Setembro / 2022</option>
										<option value="2022-10">Outubro / 2022</option>
										<option value="2022-11">Novembro / 2022</option>
										<option value="2022-12">Dezembro / 2022</option>
									</select>
								</div>
							</div>
						</form>

						<hr />

		    		</div>
		    	</div>
		    	
		    	<div class="row mb-3 text-center">
		    		<div class="col-md-6 ">
		    			<div class="card bg-warning text-white">
							<div class="card-header">
								Número de vendas
							</div>
							<div class="card-body">
								 <h5 id="numero_vendas" class="card-title">?</h5>
							</div>
						</div>
					</div>

					<div class="col-md-6">
		    			<div class="card">
							<div class="card-header">
								Total de vendas
							</div>
							<div class="card-body">
								 <h5 id="total" data-mask="#.##0,00" data-mask-reverse="true" class="card-title">?</h5>
							</div>
						</div>
		    		</div>

				</div>

				<div class="row mb-3 text-center">
					<div class="col-md-6">
		    			<div class="card bg-success text-white">
							<div class="card-header">
								Usuarios ativos
							</div>
							<div class="card-body">
								 <h5 id="ativos" class="card-title">?</h5>
							</div>
						</div>
					</div>

					<div class="col-md-6 ">
		    			<div class="card bg-danger text-white">
							<div class="card-header">
								Usuarios inativos
							</div>
							<div class="card-body">
								 <h5 id="inativos" class="card-title">?</h5>
							</div>
						</div>
		    		</div>
		    	</div>

		   
				


		    	</div>

		    
		    </div>

		</div>


		@section scripts{

			<script>

				$(document).ready(()=>{

					$("#competencia").on('change',()=>{
						var data_teste = $("#competencia").val();
						alert(data_teste);
				
						 $.ajax({
                 type:'POST',
                  url: '@Url.Action("pegar_dados")',
                  dataType:"json",
				  data:{
					  "data" : data_teste
				  },
                  success:(dados)=>{
                      console.log(dados);
                        $("#ativos").html(dados.usuarios_ativos);
						 $("#inativos").html(dados.usuarios_inativos);
						  $("#numero_vendas").html(dados.numero_vendas);
						  var x= dados.total_vendas.toString().replace(".",",");
						  $('#total').html(x);

                  },
                  error:(dados)=>{
                        console.log("Error:");
                      console.log(dados)

                  }
             });
						
					})
				})






			</script>









		}